<div class="row menu">
    <div class="menu-header">
        <h3>Transportadoras | ...</h3>
    </div>
    <div class="menu-actions">
        <button mat-raised-button color="primary">Cadastre sua Transportadora</button>
    </div>
</div>
<hr>
<div class="row content">
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
            <h3>Drawer content Filtros e search</h3>
            <p>testeste</p>
        </mat-drawer>
        <mat-drawer-content>
            <card-component></card-component>
        </mat-drawer-content>
    </mat-drawer-container>
</div>