.row {
    /* padding: 20px; */
    width: 100%;
}

.menu {
    display: inline-flex;
}

.menu-header {
    width: 66%;
    padding: 20px;
}

.menu-actions {
    margin-top: 40px;
}

.cards-container {
    width: 100%;
}

.table {
    display: table;
}

.column {
    float: left;
}

.cards {
    width : 80%;
}
