<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <button mat-raised-button [routerLink]="['']" color="primary">Voltar</button>
    <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Empresa" formControlName="company">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telefone" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Modal" formControlName="modal">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cep" formControlName="cep">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Estado" formControlName="uf_address">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cidade" formControlName="city_address">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Bairro" formControlName="neighborhood_address">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Rua / Avenida" formControlName="street_address">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Número" formControlName="number_address">
    </mat-form-field>
    <mat-checkbox color="primary" formControlName="check_box">Eu aceito termos de serviços</mat-checkbox>
    <button mat-raised-button color="primary" type="submit">Cadastrar-se agora!</button>
</form>
