<mat-card class="card">
    <div class="container">
        <div class="col">
            <mat-card-subtitle>
                <a [routerLink]="['/edit', transportadora.id]">
                    {{ transportadora.name }}
                </a>
            </mat-card-subtitle>
        </div>
        <div class="col">
            <mat-card-subtitle>{{ transportadora.phone }}</mat-card-subtitle>
            <mat-card-subtitle>{{ transportadora.email }}</mat-card-subtitle>
        </div>
        <div class="col">
            <mat-card-subtitle>Fale agora! {{ transportadora.phone }}</mat-card-subtitle>
        </div>
    </div>
</mat-card>
